#root {
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    overflow-y: auto;
}

.cabecera {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 12vh;
    min-height: 60px;
    background-color: rgb(120, 120, 120);
}

.roles {
    position: sticky;
    top: 12vh;
    height: 88vh;
    min-height: 400px;
    background-color: rgb(200, 200, 200);
    padding: 0;
}

.dashboard {
    height: auto;
    min-height: 88vh;
    background-color: greenyellow;
    padding-bottom: 20px;
}