#root {
    margin: 0 auto;
    text-align: center;
}

.cabecera {
    height: 12vh;
    background-color: rgb(120, 120, 120);
}

.roles {
    height: 88vh;
    background-color: rgb(200, 200, 200);
    padding: 0;
}

.dashboard {
    height: 88vh;
    background-color: greenyellow;
}